*{
    margin:0;
    padding:0;
}
/* Estilo de header */
@font-face{
    font-family:"Loves";
    src: url("../fonts/LOVES.ttf");
}
@font-face {
    font-family: "Alegre";
    src: url("../fonts/AlegreSans-Regular.ttf");
}
.header{
    background-color: #00C897;
    position: sticky;
    top:0%;
    font-family: "Loves";
    color: black;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
}
.navegacion{
    list-style: none;
    background-color: #00C897;
    width:100%;
    text-align: center;
}
.navegacion__items{
    display: inline-block;
    width:calc(100% / 5);
    margin-bottom: 10px;
} 
.navegacion__items a{
    font-weight: bolder;
    color: #FFD365;
    text-decoration: none;
}
.navegacion__items a:hover{
    color: #FDFFA9;
}

/* Estilo de footer */
.contenedor{
    background-color: #019267;
    font-family: "Loves";
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.contenedor__columnas{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-size: 16px;
    margin-left: 20%;
    color: #FDFFA9;
}
.contenido-listas{
    list-style: none;
    font-size: 14px;
    margin-left: 20%;
}
.contenido-listas a{
    text-decoration: none;
    color: #FFD365;
}


/* Estilo de main index*/
.portada{
    background-image: url("../img/smiling.jpg");
    background-size: 110rem;
    background-repeat: no-repeat;
    background-color: #FDFFA9;
}
.tituloPrincipal{
    font-family: "Loves";
    width: 30%;
    margin:20% 30% 20% 10%;
    font-size: 60px;
}
.btn{
    background-color: #FDFFA9;
    font-size: 20px;
    font-family: "Loves";
    border-radius: 12px;
    width: 40%;
}
.btn:hover{
    background-color: #FFD365;
}
.seccion2{
    font-family: "Loves";
    width: 100%;
    margin-bottom: 10%;
}
.nuestrosCursos{
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
.table{
    text-align: center;
    margin: auto;
    border-style: none;
    height: 150px;
    font-weight: bold;
}
.contenido-table{
    padding: 10%;
}

/*Estilo main Nosotros*/
.body-nosotros{
    background-image: url("../img/emails.jpg");
    background-size: 110rem;
    background-repeat: no-repeat;
    background-color: #FDFFA9;
}
.tituloNosotros{
    font-family: "Loves";
    color: #FDFFA9;
    font-weight: bolder;
    font-size: 100px;
    width: 30%;
    margin:20% 30% 55% 10%;
    margin-left: 10%;
}
.generalText{
    margin:15%;
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans';
}
/* Estilo de main Cursos */
.body-cursos{
    background-image: url("../img/meeting.jpg");
    background-size: 90rem;
    background-repeat: no-repeat;
    background-color: #FDFFA9;
}
.mainCursos{
    margin-bottom: 5%;
}
.tituloCursos{
    font-family: "Loves";
    color: #FDFFA9;
    font-weight: bolder;
    font-size: 100px;
    width: 30%;
    margin:20%;
    margin-left: 10%;
}
.infoCursos{
    width: 80%;
}
.subtitulos{
    font-family: "Loves";
    color: #019267;
    font-weight: bold;
    font-size: 60px;
    margin-left: 10%;
}
.dudas{
    font-size: 40px;
    margin-left: 10%;
    font-family: 'Gill Sans';
    color: #007457;
}
.generalTextCursos{
    margin-left: 10%;
    font-size: 20px;
    text-align: left;
    font-family:'Gill Sans';
    
}
/* Estilo main Blog */
.body-blog{
    background-image: url("../img/conocenos.jpg");
    background-size: 110rem;
    background-repeat: no-repeat;
    background-color: #FDFFA9;
}
.mainBlog{
    margin-bottom: 5%;
}
.tituloBlog{
    font-family: "Loves";
    color: #FDFFA9;
    font-weight: bolder;
    font-size: 100px;
    width: 30%;
    margin:20% 30% 40% 10%;
}
.subtitulos{
    font-family: "Alegre";
    color: #019267;
    font-weight:lighter;
    font-size: 60px;
    margin-top: 5%;
    margin-left: 10%;
}
.textBlog{
    font-size: 20px;
    text-align: center;
    font-family:'Gill Sans';
}
.imgBlog{
    float: right;
    width: 300px;
    height: auto;
}

/* Estilo main contacto */
.body-contacto{
    background-image: url("../img/cellphone.jpg");
    background-repeat: no-repeat;
    background-size: 110rem;
}
.tituloContacto{
    font-family: "Loves";
    color: #FDFFA9;
    font-weight: bolder;
    font-size: 100px;
    width: 30%;
    margin: 20% 30% 20% 10%;
}
.form{
    border: solid 1px;
    max-width: 400px;
    margin:60px auto;
    position: relative;
    background-color:#FDFFA9;
}
.contenidoContacto{
    text-align: center;
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #007457;
    font-weight: bold;
}