.background, .backgroundNosotros, .backgroundCursos, .backgroundBlog, .backgroundContacto {
  opacity: 0.8;
  background-position: center center;
  background-size: cover;
  height: 90vh; }

.backgroundNosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/conocenos.jpg); }

.backgroundCursos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/cellphone.jpg); }

.backgroundBlog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/meeting.jpg); }

.backgroundContacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/emails.jpg); }

.backgroundPortada {
  background-image: url(../img/smiling.jpg);
  background-position: center center;
  height: 90vh; }

/* Colores */
/* Titulos, subtitulos y textos */
.tituloPortada {
  font-family: "Loves";
  font-weight: bolder; }

.sizeTitulos {
  font-size: 3rem; }

.subtitulos {
  font-family: "Alegre";
  font-size: 1.5rem; }

.cursos {
  font-size: 2rem;
  padding: 1.5rem; }

.tituloFooter {
  font-family: "Loves";
  font-size: 1rem;
  font-weight: bolder; }

.contenido {
  background-color: #EAEFBD; }

footer {
  background-color: #90BE6D; }
  footer a {
    text-decoration: none;
    color: #133C55; }
    footer a :hover {
      color: #C9E3AC; }

header {
  background-color: #90BE6D; }

.nav-link {
  color: #133C55;
  text-decoration: none; }
  .nav-link :hover {
    color: #C9E3AC; }

* {
  padding: 0%; }

@font-face {
  font-family: "Loves";
  src: url("../fonts/LOVES.ttf"); }

@font-face {
  font-family: "Alegre";
  src: url("../fonts/AlegreSans-Regular.ttf"); }

body {
  font-family: Georgia, 'Times New Roman', Times, serif; }

main {
  background-color: #C9E3AC; }

.logo {
  width: 150px;
  height: auto; }

/* Map */
.red--twitter {
  color: #51aff8; }
  .red--twitter:hover {
    color: #133C55; }
    .red--twitter:hover .red__nombre {
      color: #51aff8; }

.red--facebook {
  color: #2956a3; }
  .red--facebook:hover {
    color: #133C55; }
    .red--facebook:hover .red__nombre {
      color: #2956a3; }

.red--linkedin {
  color: #0076b8; }
  .red--linkedin:hover {
    color: #133C55; }
    .red--linkedin:hover .red__nombre {
      color: #0076b8; }

.red--instagram {
  color: #8305cc; }
  .red--instagram:hover {
    color: #133C55; }
    .red--instagram:hover .red__nombre {
      color: #8305cc; }
