/* Titulos, subtitulos y textos */
.tituloPortada{
    font-family: "Loves";
    font-weight: bolder;
}
.sizeTitulos{
    font-size: 3rem;
}
 
.subtitulos{
    font-family: "Alegre";
    font-size: 1.5rem;
}

.cursos{
    font-size: 2rem;
    padding: 1.5rem;
}

.tituloFooter{
    font-family: "Loves";
    font-size: 1rem;
    font-weight: bolder;
}

.contenido{
    background-color: $colorTerciario;
}