@import "backgrounds";
@import "variantes";
@import "textos";
@import "footer";
@import "header";

*{
    padding: 0%;
}
 
@font-face{
    font-family:"Loves";
    src: url("../fonts/LOVES.ttf");
}
@font-face {
    font-family: "Alegre";
    src: url("../fonts/AlegreSans-Regular.ttf");
}
 
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main{
    background-color: $colorPrimario;
}
 
.logo{
    width: 150px;
    height: auto;
}

/* Map */
$redes: (
     twitter: #51aff8,
     facebook: #2956a3,
     linkedin: #0076b8,
     instagram: #8305cc,
 );

@each $red, $color in $redes {
    .red--#{$red}{
        color: $color;
        &:hover {
            color: $dark;
            .red__nombre {
                color:$color;
            }
        }
    }
}
